*{
    color: #0D0D0D;
}
p, span{
    font-size: 20px;
}
.white-color{
    color: #fff !important;
}
.m-sec-top{
    margin-top: 100px;
}
.orange-color{
    color: #BF7D2C;
}
.main-heading42{
    color: #BF7D2C;
    font-size: 40px;
    font-family: 'El Messiri', sans-serif;
}
.main-heading32{
    color: #BF7D2C;
    font-size: 26px;
    font-family: 'El Messiri', sans-serif;
}
.el-font{
    font-family: 'El Messiri', sans-serif;
}
.small-heading1{
    font-size: 20px;
    color: #0D0D0D;
}

.btn1{
    background-color: #F1CE66;
    color: #000;
    padding: 12px 0px;
}


/* global-navbar start */

.global-navbar{
    background-color: #fff;
    padding: 10px 20px;
    padding-bottom: 30px;
}
.global-navbar .btn-appointment-header {
    background-color: #F1CE66;
    color: #0D0007;
}

/* global-navbar end */


/* footer styling start */

.footer{
    background-color: #0D0D0D;
    color: #fff;
    padding-top:5%;
}
.footer .footer-bottom{
    border-top: 1px solid #fff;
}

/* footer styling end */


.whatsapp-bottom{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.whatsapp-bottom .btn-whatsapp{
    box-shadow: none;
    outline: none;
    background-color: #25D366;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.whatsapp-bottom .btn-whatsapp i{
    font-size: 45px;
    color: #fff;
}

/* media queries */
@media (max-width:499px){
    .main-heading42{
        font-size: 22px;
    }
    .main-heading32{
        font-size: 17px;
    }
    p{
        font-size: 17px;
    }
}

@media (min-width:500px) AND (max-width:768px){
    .main-heading42{
        font-size: 36px;
    }
    .main-heading32{
        font-size: 23px;
    }
}
@media (max-width:768px){
    .footer .border-right,
    .footer .border-right-2{
        border-bottom : 1px solid #fff;
    }
}

@media (min-width:768px){
    .footer .border-right{
        border-right : 1px solid #fff;
    }
}

@media (min-width:990px){
    .footer .border-right-2{
        border-right : 1px solid #fff;
    }
}
@media (max-width:990px){
    .global-navbar{
        position: absolute;
        top: 0;
        width: 100%;
    }
}

@media (min-width:1400px){
    .main-heading32{
        font-size: 31px;
    }
}