/* index page header start */
.index-header {
    position: relative;
}



.index-header .navbar {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
}

.index-header .navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 20px;
    padding: 0px 20px;
}

.index-header .btn-appointment-header {
    background-color: #F1CE66;
    color: #0D0007;
    border-bottom: 3px solid #D94E73;
}

.index-header .navbar-toggler {
    color: #fff;
    border-color: #fff !important;
}

.index-header .fa-bars {
    color: #fff;
}

.index-header .main-sec {
    position: relative;
}

.index-header .main-sec .text-part {
    position: absolute;
    top: 0;
    bottom: -35%;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.index-header .main-sec .text-part p {
    font-size: 3vw;
    color: #fff;
}

.index-header .main-sec .text-part h1 {
    color: #F1CE66;
    font-size: 13vw;
}

.appoint-btn-2 {
    position: absolute;
    bottom: 5%;
    right: 0;
    color: #fff;
    left: 0;
    border: 1px solid #fff;
    width: fit-content;
    margin: auto;
    padding: 18px 30px 18px 30px;
    border-radius: 50%;
    font-size: 1.5vw;
}

/* index page header end */


/* index about us setion start */
.index-about-us {
    position: relative;
}

.index-about-us .main-sec {
    position: relative;
}

.index-about-us .main-sec .right-sec {
    background: #F1CE66;
    color: #fff;
    position: absolute;
    right: 15%;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    padding: 2.5%;
}
.about-right{
    position: absolute;
    right: 0;
    bottom: 0;
}
/* index abour us section end */

/* index-secret section start */
.index-secret {
    background-image: url('../images/secret-bg.png');
    padding: 5% 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.index-secret #comparison {
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.index-secret figure {
    position: absolute;
    background-image: url('../images/secret-slider.png');
    background-size: cover;
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.index-secret #divisor {
    background-image: url('../images/secret-slider.png');
    background-size: cover;
    position: absolute;
    width: 50%;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    bottom: 0;
    height: 100%;
}

.index-secret #divisor::before,
.index-secret #divisor::after {
    content: '';
    position: absolute;
    right: -2px;
    width: 4px;
    height: calc(50% - 25px);
    background: white;
    z-index: 3;
}

.index-secret #divisor::before {
    top: 0;
    box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, .3);
}

.index-secret #divisor::after {
    bottom: 0;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, .3);
}

.index-secret #handle {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
}

.index-secret #handle::before,
.index-secret #handle::after {
    content: '';
    width: 0;
    height: 0;
    border: 6px inset transparent;
    position: absolute;
    top: 50%;
    margin-top: -6px;
}

.index-secret #handle::before {
    border-right: 6px solid white;
    left: 50%;
    margin-left: -17px;
}

.index-secret #handle::after {
    border-left: 6px solid white;
    right: 50%;
    margin-right: -17px;
}

.index-secret input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    background-color: transparent;
    width: calc(100% + 50px);
    z-index: 2;
}

.index-secret input[type=range]:focus,
.index-secret input[type=range]:active {
    border: none;
    outline: none;
}

.index-secret input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid white;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
}

.index-secret input[type=range]::-moz-range-track {
    -moz-appearance: none;
    height: 15px;
    width: 100%;
    background-color: transparent;
    position: relative;
    outline: none;
}

.index-secret .small-heading1,
.index-secret p,
.index-secret span {
    color: #fff;
    line-height: 30px;
}

.index-secret .main-heading42 {
    color: #BF7D2C;
}

.index-secret .sec-logo {
    width: 90px;
}



/* index-secret end */


/* section index-exp start */
.index-exp .checks .check-link {
    text-decoration: none;
    color: #1C4859;
    display: flex;
    align-items: center;
}
.index-exp .checks .check-link span{
    font-size: 15px;
}

.index-exp .checks .check-logo {
    width: 25px;
}

.index-exp .checks .check-link span {
    color: #1C4859;
    padding-left: 10px;
}

.index-exp .bg-yellow {
    background-color: #F1CE66;
    padding: 3.5vw;
}


/* section index-exp start */

/* section index-contact start */
.index-contact{
    background-image: url('../images/index-con.png');
    padding: 7% 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.index-contact .small-heading1{
    color: #fff;
}
.index-contact .small-heading42{
    color:#F1CE66;
}
.contact-btn{
    background-color: #F1CE66;
    color: #0D0D0D;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

/* section index-contact end */


/* index-service section start */


.index-service .p-24{
    font-size: 20px;
    bottom: 15px;
    left: 0;
    right: 0;
}


/* index-service section end */


/* index-schdule section start */

.index-schdule{
    background-image: url('../images/index-sec-bg.png');
    padding: 7% 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.index-schdule .book-form{   
    background-image: linear-gradient(to right, rgba(92,92,30,0.4), rgba(51,51,0,0.7));
    padding: 8%;
}
.modal-content .book-form{
    padding: 8%;
}
.index-schdule .book-form .cus-form-control,
.modal-content .book-form .cus-form-control {
    padding: 0.7rem .75rem;
    background-color: transparent !important;
    color: #ced4da;
}

.modal-content .btn-close{
    position: absolute;
    top: 15px;
    right: 15px;
}

/* index-schdule section end */



/* index-price sectioin start */


.index-price .sin-plan .plan-header{
    position: relative;
}
.index-price .sin-plan .services-gradient{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(192,124,43, 0.4), rgba(192,124,43, 1));
}
.index-price .sin-plan .plan-header img{
    height: 240px;
}
.index-price .sin-plan .plan-header .text-sec{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.index-price .sin-plan .plan-header .text-sec h1{
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.index-price .sin-plan .plan-header .text-sec .light-s{
    font-size: 16px;
    font-weight: 300;
    display: block;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
.index-price .sin-plan .plan-header .text-sec .number{
    font-size: 66px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    color: #fff;
    margin-top: -20px;
    display: block;
}
.index-price .sin-plan .plan-header .text-sec .border-line{
    background-color: #fff;
    padding: 1px;
    width: 50%;
    margin: auto;
}

.index-price .sin-plan .plan-body{
    margin-top: -5px;
    position: relative;
    width: fit-content;
}
.index-price .sin-plan .plan-body .body-text{
    position: absolute;
    top: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
}
.index-price .sin-plan .plan-body .body-text ul{
    width: 100%;
}
.index-price .sin-plan .plan-body .body-text ul li{
    color: #fff;
    padding: 4px 0px;
}
.index-price .sin-plan .plan-body .body-text ul li .text{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.index-price .sin-plan .plan-body .body-text ul li p{
    font-size: 17px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    color: #fff;
    margin: 0;
}

/* index-price section end */


/* index-benifit section start */

.index-benifit{
    background-image: url('../images/index-benbg.png');
    padding: 7% 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.index-benifit .input-btn{
    display: flex;
    align-items: center;
}
.index-benifit .input-btn .form-control{
    background-color: transparent;
    padding: 0.75rem 0.75rem;
    border-top-right-radius:0;
    border-bottom-right-radius: 0;
}
.index-benifit .input-btn .btn1{
    padding: 12px 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* index-benifit section end */




/************************************************ ABOUT US PAGE   **********************************************************/

/* about-banner section start */

.about-banner{
    background-image: url('../images/about-headbg.png');
    padding: 7% 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* about-banner section end */

.about-sec1 p,
.about-sec2 p{
    color: #1C4859;
}
.about-sec1 .img-sec{
    position: relative;
}
.about-sec1 .img-sec .text-block{
    position: absolute;
    bottom: -15%;
    margin: auto;
    width: 80%;
    right: 0;
    left: 0;
    background-color: #F1CE66;
    padding: 3%;
}
.about-sec2{
    margin-top: 30vh;
}
.about-icons img{
    max-width: 75px;
}

/* -----------------------our-protfolio Page Start ------------ */
.portfolio-banner{
    background-image: url('../images/portfolio-headbg.png');
    padding: 7% 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
 .galleryTopImages img{
    height: 100px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

/* -----------------------our-protfolio Page End   ------------ */

/* -----------------------contact-us Page Start   ------------ */
.contact-us-banner{
    background-image: url('../images/contactUS-headbg.png');
    padding: 7% 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-us-schdule .book-form{
    background-image: none;
    padding: 0% 8% 8% 8%;
}
.contact-us-schdule{
    background-image: none;
}
.contact-us-schdule .cus-form-control{
    border-color: rgba(241, 206, 102, 1);
}
.contact-us-schdule .subHeading{
    font-size: 15px;
    color: #838383;
}
.contact-us-schdule .book-form button{
    text-transform: uppercase;
    font-family: 'Inter';
}
/* ---mapp Style End---- */
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 340px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 340px;
}

.gmap_iframe {
    height: 340px !important;
}
/* ---mapp Style End---- */
.location-address{
    font-weight: 500;
}
.location-address,
.subAddress{
    font-size: 14px;
}
.mapp-location img{
    max-width: 42px;
}
.mapp-location .main-heading42{
    font-size: 35px;
    color: #000000;
}
/* -----------------------contact-us Page End   ------------ */

/* -----------------------services Page start   ------------ */


.services-banner{
    background-image: url('../images/services-bg.png');
    padding: 7% 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.services-sec1{
    background-image: url('../images/ser-bg.png');
    padding: 7% 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.services-sec1 .text-box .title-text{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #373449;
    font-weight: 500;
}
.services-sec1 .text-box .body-text{
    color: #65656A;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}



/* -----------------------services Page End   ------------ */



/* blogs pages */

.blogs-sec1 .card-img, .card-img-top{
    height: 200px;
}



/* media queries */

@media (max-width:400px){
    .index-price .sin-plan .plan-body .body-text ul li{
        padding: 2px;
    }
    .index-price .sin-plan .plan-body .body-text{
        padding: 4px;
        top: 0;
    }
    .index-header .main-sec .text-part{
        bottom: -22%;
    }
}


@media (max-width:500px) {
    .index-header .navbar-collapse {
        background-color: #000;
        padding: 12px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }
    .header-logo img{
        width: 165px;
    }
    .index-price .sin-plan .plan-body .body-text ul li{
        padding: 2px;
    }
    .index-price .sin-plan .plan-body .body-text ul li p{
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .header2-logo,
    .header-logo{
        width: 70%;
    }
    .appoint-btn-2 {
        padding: 10px 22px 10px 22px;
        font-size: 2vw;
    }

    .index-about-us .main-sec .left-sec {
        padding: 0 !important;
    }

    .index-about-us .main-sec .right-sec {
        padding: 15px;
        right: 0;
        position: inherit;
    }
    .about-sec1 .img-sec .text-block{
        position: initial;
        width: 100%;
    }
    .about-sec2{
        margin-top: 20vh;
    }
    .header-logo {
        width: 75%;
    }
    .time-text{
        font-size: 5vw !important;
    }
}

@media (min-width:768px) AND (max-width:990px) {
    .index-about-us .main-sec .right-sec {
        padding: 15px;
        /* right: 0; */
        position: initial;
    }
    .about-sec1 .img-sec .text-block{
        bottom: -30%;
        width: 90%;
    }
}

@media (max-width:990px){
    .about-banner,
    .contact-us-banner,
    .portfolio-banner,
    .services-banner{
        margin-top: 80px;
        padding: 7% 20px;
    }
    .index-price .sin-plan .plan-body .body-text ul li{
        padding: 4px;
    }
    .index-price .sin-plan .plan-body .body-text{
        padding: 7px;
        top: 0;
    }
}
@media (max-width:1200px){
    .services-sec1{
        background-image: linear-gradient(to right, rgba(241,206,102,0), rgba(241,206,102,0.31));
    }
}

@media (min-width:990px) AND (max-width:1399px){
    .index-header .navbar .navbar-nav .nav-item .nav-link{
        padding: 0px 12px;
        font-size: 16px;
    }
    .header-text{
        font-size: 16px;
    }
    .header-logo img{
        width: 70%;
    }
}
@media (max-width:1450px){
    .about-right{
        display: none;
    }
}