/* index page header start */
.index-header {
    position: relative;
}

.header-logo {
    width: 75%;
}

.index-header .navbar {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.index-header .navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 20px;
    padding: 0px 20px;
}

.btn-appointment-header {
    background-color: #F1CE66;
    color: #0D0007;
    border-bottom: 3px solid #D94E73;
}

.index-header .navbar-toggler {
    color: #fff;
    border-color: #fff !important;
}

.fa-bars {
    color: #fff;
}

.index-header .main-sec {
    position: relative;
}

.index-header .main-sec .text-part {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.index-header .main-sec .text-part p {
    font-size: 3vw;
    color: #fff;
}

.index-header .main-sec .text-part h1 {
    color: #F1CE66;
    font-size: 13vw;
}

.appoint-btn-2 {
    position: absolute;
    bottom: 5%;
    right: 0;
    color: #fff;
    left: 0;
    border: 1px solid #fff;
    width: fit-content;
    margin: auto;
    padding: 18px 30px 18px 30px;
    border-radius: 50%;
    font-size: 1.5vw;
}

/* index page header end */


/* index about us setion start */
.index-about-us {
    position: relative;
}

.index-about-us .main-sec {
    position: relative;
}

.index-about-us .main-sec .right-sec {
    background: #F1CE66;
    color: #fff;
    position: absolute;
    right: 12%;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
    padding: 30px;
}

/* index abour us section end */

/* index-secret section start */
.index-secret {
    background-image: url('../images/secret-bg.png');
    padding: 5% 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.index-secret #comparison {
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.index-secret figure {
    position: absolute;
    background-image: url('../images/secret-slider.png');
    background-size: cover;
    font-size: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.index-secret #divisor {
    background-image: url('../images/secret-slider.png');
    background-size: cover;
    position: absolute;
    width: 50%;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    bottom: 0;
    height: 100%;
}

.index-secret #divisor::before,
.index-secret #divisor::after {
    content: '';
    position: absolute;
    right: -2px;
    width: 4px;
    height: calc(50% - 25px);
    background: white;
    z-index: 3;
}

.index-secret #divisor::before {
    top: 0;
    box-shadow: 0 -3px 8px 1px rgba(0, 0, 0, .3);
}

.index-secret #divisor::after {
    bottom: 0;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, .3);
}

.index-secret #handle {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
}

.index-secret #handle::before,
.index-secret #handle::after {
    content: '';
    width: 0;
    height: 0;
    border: 6px inset transparent;
    position: absolute;
    top: 50%;
    margin-top: -6px;
}

.index-secret #handle::before {
    border-right: 6px solid white;
    left: 50%;
    margin-left: -17px;
}

.index-secret #handle::after {
    border-left: 6px solid white;
    right: 50%;
    margin-right: -17px;
}

.index-secret input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    background-color: transparent;
    width: calc(100% + 50px);
    z-index: 2;
}

.index-secret input[type=range]:focus,
.index-secret input[type=range]:active {
    border: none;
    outline: none;
}

.index-secret input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid white;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
}

.index-secret input[type=range]::-moz-range-track {
    -moz-appearance: none;
    height: 15px;
    width: 100%;
    background-color: transparent;
    position: relative;
    outline: none;
}

.index-secret .small-heading1,
.index-secret p,
.index-secret span {
    color: #fff;
    line-height: 30px;
}

.index-secret .main-heading42 {
    color: #BF7D2C;
}

.index-secret .sec-logo {
    width: 90px;
}



/* index-secret end */


/* section index-exp start */
.index-exp .checks .check-link {
    text-decoration: none;
    color: #1C4859;
    display: flex;
    align-items: center;
}

.index-exp .checks .check-logo {
    width: 30px;
}

.index-exp .checks .check-link span {
    color: #1C4859;
    padding-left: 10px;
}

.index-exp .bg-yellow {
    background-color: #F1CE66;
    padding: 3.5vw;
}


/* section index-exp start */

/* section index-contact start */
.index-contact{
    background-image: url('../images/index-con.png');
    padding: 7% 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.index-contact .small-heading1{
    color: #fff;
}
.index-contact .small-heading42{
    color:#F1CE66;
}
.contact-btn{
    background-color: #F1CE66;
    color: #0D0D0D;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

/* section index-contact end */


/* index-service section start */


.index-service .p-24{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}


/* index-service section end */


/* index-schdule section start */

.index-schdule{
    background-image: url('../images/index-sec-bg.png');
    padding: 7% 0px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.index-schdule .book-form{   
    background-image: linear-gradient(to right, rgba(92,92,30,0.4), rgba(51,51,0,0.7));
    padding: 8%;
}
.index-schdule .book-form .cus-form-control {
    padding: 0.7rem .75rem;
    background-color: transparent !important;
    color: #ced4da;
}


/* index-schdule section end */



/* index-price sectioin start */


.index-price .sin-plan .plan-header{
    position: relative;
}
.index-price .sin-plan .plan-header .text-sec{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.index-price .sin-plan .plan-header .text-sec h1{
    font-size: 33px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.index-price .sin-plan .plan-header .text-sec .light-s{
    font-size: 16px;
    font-weight: 300;
    display: block;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
.index-price .sin-plan .plan-header .text-sec .number{
    font-size: 66px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    color: #fff;
    margin-top: -20px;
    display: block;
}
.index-price .sin-plan .plan-header .text-sec .border-line{
    background-color: #fff;
    padding: 1px;
    width: 50%;
    margin: auto;
}

.index-price .sin-plan .plan-body{
    margin-top: -5px;
    position: relative;
    width: fit-content;
}
.index-price .sin-plan .plan-body .body-text{
    position: absolute;
    top: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.index-price .sin-plan .plan-body .body-text ul{
    width: 100%;
}
.index-price .sin-plan .plan-body .body-text ul li{
    color: #fff;
    padding: 10px 0px;
}
.index-price .sin-plan .plan-body .body-text ul li .text{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.index-price .sin-plan .plan-body .body-text ul li p{
    font-size: 17px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    color: #fff;
    margin: 0;
}

/* index-price section end */











/* media queries */


@media (max-width:500px) {
    .index-header .navbar-collapse {
        background-color: #000;
        padding: 12px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }
}

@media (max-width:768px) {
    .appoint-btn-2 {
        padding: 10px 22px 10px 22px;
        font-size: 2vw;
    }

    .index-about-us .main-sec .left-sec {
        padding: 0 !important;
    }

    .index-about-us .main-sec .right-sec {
        padding: 15px;
        right: 0;
        position: inherit;
    }
}

@media (min-width:768px) AND (max-width:990px) {
    .index-about-us .main-sec .right-sec {
        padding: 15px;
        right: 0;
    }
}